<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <appSettings>
      <add key="rootPath" value ="D:\SearchFlights\Providers\" />
      <add key="providerFileName1" value="Provider1.txt" />
      <add key="providerFileName2" value="Provider2.txt" />
      <add key="providerFileName3" value="Provider3.txt" />
      <add key="processedProviderFileName" value="ProcessedProvider.txt" />
    </appSettings>
</configuration>